  /*The below is for the CSS for the top stuff*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  
  .logo{
    width: 400px;
    top: 4%;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .banner-btn{
  margin: auto;
  width: 60%;
  padding: 10px;
    
  }
  .banner-btn a{
    text-align: center;
    letter-spacing: 0.00em;
    color: #000;
    width: 105px;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
    padding: 12px 0;
    position: relative;
    z-index: 1;
    transition: color 0.1s;
  }
  .banner-btn a span{
    width: 100%;
    height: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    z-index: -1;
    transition: 0.1s;
  }
  .banner-btn a:hover span{
    height: 7%;
  }
  .banner-btn a:hover{
    color: #49c0f7;
    font-weight: bold;
  }

  /*The below is for the CSS for the Bottom Buttons*/
  #bottom {
  height: 30vh;
  background: #f5f5f5;
  padding: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  }
  
  
  
  #low {
  text-align: center;
  }
  
  
  .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .button {
  height: 60px;
  width: 60px;
  background-color:#FFF;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  float: left;
  overflow: hidden;
  transition: all 0.3s ease-in-out; 
  }
  
  .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  }
  
  .button:hover {
  width: 200px;
  }
  
  .button:nth-child(1):hover .icon{ background: #4267B2;}
  .button:nth-child(2):hover .icon{ background: #E1306C;}
  .button:nth-child(3):hover .icon{ background: #FF0000;}
  .button:nth-child(4):hover .icon{ background: #3CE19D;}
  .button:nth-child(5):hover .icon{ background: #1DA1F2;}
  
  .button:nth-child(1):hover span { color: #4267B2;}
  .button:nth-child(2):hover span { color: #E1306C;}
  .button:nth-child(3):hover span { color: #FF0000;}
  .button:nth-child(4):hover span { color: #3CE19D;}
  .button:nth-child(5):hover span { color: #1DA1F2;}
  
  .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  }
  
  .button .icon i {
  font-size: 25px;
  line-height: 60px;
  }
  
  .button:hover i {
  color: #FFF;
  transition: all 0.3s ease-in-out;
  }














  /*This is for the main section under the buttons*/
  #banner {
    background: #7cac7c;
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .banner-text{
    text-align: center;
    color: #fff;
    padding-top: 0px;
  }
  .banner-text h1{
    font-size: 60px;
    font-family: 'Patua One', cursive;
    padding-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    letter-spacing: 0.08em;
  }
  .banner-text p{
    font-size: 20px;
    width: center;
    border: 15px;
    margin: 25px;
    font-family: 'Poppins', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  
  /*This is for the 1st section*/
  #sec1 {
    background: #E6FFE7;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .light1 {
  margin-left: 10%;
  }
  
  .light1 h1 {
    font-family: 'Patua One', cursive;
    font-style: italic;
    font-weight: 400;
    font-size: 37px;
    letter-spacing: 1.2 em;
    margin-bottom: 5%;
  }
  
  .light1 p {
    margin-right: 50%;
    margin-bottom: 3%;
  }














  /*Content Section Changes*/
  #content {
    background: #E6FFE7;
    
    height: 100vh;
    
  }



  #spotify {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #youtube {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }